#container-1 {
  display: flex;
  flex-direction: column;
  background-color: darkslategray;
  text-align: center;
  gap: 5px;
}

#top-text {
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: -50px;
  color: chartreuse;
  font-weight: 700;
}
#bottom-text {
  display: flex;
  justify-content: center;
}
#container-2 {
  display: flex;
  height: 69vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 6;
  gap: 100px;
  margin-bottom: -29px;
}
#announcements{
  color: chartreuse;
  font-size: 28px;
}

#container-buttons {
  display: flex;
  gap: 50px;
}
button {
  box-shadow: 10px 10px 10px 10px gray;
  font-size: 30px;
  width: 7em;
  height: 3em;
  background-color: blue;
  color: chartreuse;
  border-color: blue;
}
button:hover {
  background-color: gray;
  border-color: chartreuse;
  color: blue;
}
.computer-selection {
  box-shadow: 25px 25px 25px 25px chartreuse;
}
#btn {
  font-size: 25px;
}
.content {
  display: flex;
  width: 18em;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: whitesmoke;
  color: rgb(4, 77, 40);
  font-size: 28px;
  font-weight: 800;
}

/* Ported from test document */ 
.scoreboard-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: lightgray;
  text-align: center;
  margin-left: 75px;
}

#title {
  color: chartreuse;
  font-size: 30px;
  padding: 5px;
  margin: 3px;
  background-color: gray;
  box-shadow: lightseagreen ;
  box-shadow: 5px;
  flex-grow: 1;
  align-self: center;
}

.row-container {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  border: 3px;
  width: 200px; /*width larger than space available so 
  it's always in the middle*/
  justify-content: center;
  border-color: white;
  border-style: solid;
  flex-grow: 1;
}
#test-container {
  display: flex;
  margin: 20px;
  margin-bottom: 62px;
  justify-content: space-evenly;
  flex-grow: 1;
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 75px;
}

#container-2 {
  margin-bottom: -75px;
}
